<div class="content">

    <div class=" jumbotron card">
        <!--this is the header  -->
        <div class="row">
            <div class="col-xs-4">
                <div class=".profile-img-card">
                    <a href="#" class="thumbnail">
                        <img src="{{adjustorvm.user.userinfo.imgurl}}" alt="...">
                    </a>
                </div>
            </div>
            <div class="col-xs-6">
                <h3><b>Hello, {{adjustorvm.user.userName}}</b></h3>

                <table class="table table-user-information">
                    <tbody>
                    <tr>
                        <td><b>Department:</b></td>
                        <td>{{adjustorvm.user.userinfo.title}}</td>
                    </tr>
                    <tr>
                        <td><b>Join date:</b></td>
                        <td>{{adjustorvm.user.userinfo.joinDate}}</td>
                    </tr>
                    <tr>
                        <td><b>Date of Birth</b></td>
                        <td>{{adjustorvm.user.userinfo.dob}}</td>
                    </tr>

                    <tr>
                    <tr>
                        <td><b>Gender</b></td>
                        <td>{{adjustorvm.user.userinfo.gender}}</td>
                    </tr>
                    <tr>
                        <td><b>Home Address</b></td>
                        <td>{{adjustorvm.user.userinfo.address}}</td>

                    </tr>
                    <tr>
                        <td><b>Email</b></td>
                        <td><a href="mailto:info@support.com">{{adjustorvm.user.userEmail}}</a>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Phone Number</b></td>
                        <td>{{adjustorvm.user.userinfo.phone}}
                            <br>
                        </td>

                    </tr>

                    </tbody>
                </table>


            </div>
        </div>
        <!--this is the Content  -->


        <div class="panel panel-default">
            <div class="panel-heading"><h4>Claims Assigned to you </h4>
            </div>
            <div class="panel-body mytable">
                <label>Search: <input ng-model="searchText"></label>

                <table data-toggle="table " class="table table-striped">
                    <thead>
                    <tr>
                        <th>ClaimID</th>
                        <th>Status</th>
                        <th>Assigned Adjustor</th>
                        <th>Adjustor Status</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="claim in adjustorvm.claimsApproved | filter : searchText ">
                        <td>{{claim.claimID}}</td>
                        <td>{{claim.status}}</td>
                        <td>{{claim.assignedAdjuster}}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button"
                                        data-toggle="dropdown">{{claim.adjustorStatus}}
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a ng-click="claim.adjustorStatus='Pending'">Pending</a></li>
                                    <li><a ng-click="claim.adjustorStatus='Approved'">Approved</a></li>
                                    <li><a ng-click="claim.adjustorStatus='Rejected'">Rejected</a></li>
                                </ul>
                            </div>
                        </td>

                        <!--View is here -->
                        <td><a type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#test"
                               ng-click="adjustorvm.modalclaim=claim "> View </a>

                            <!-- Modal -->
                            <div class="modal fade" id="test" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Claim Details</h4>
                                        </div>
                                        <div class="modal-body">

                                            <table class="table table-user-information">
                                                <thead><h3>Claim</h3></thead>
                                                <tbody>

                                                <tr>
                                                    <td><b>Claim Number : </b></td>
                                                    <td>{{adjustorvm.modalclaim.claimID}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>First Name:</b></td>
                                                    <td>{{adjustorvm.modalclaim.firstName}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Last Name:</b>
                                                    </td>
                                                    <td>
                                                        {{adjustorvm.modalclaim.lastName }}
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                            <table class="table table-user-information">
                                                <thead>

                                                <td><label><b><h3>Status</h3></b></label></td>

                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <b>Inspection Status</b>
                                                    </td>
                                                    <td>
                                                        {{adjustorvm.modalclaim.AdjustorStatus}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Agent Status</b>
                                                    </td>
                                                    <td>
                                                        {{adjustorvm.modalclaim.status}}
                                                    </td>
                                                </tr>
                                                <br>
                                                <tr>
                                                    <td>
                                                        <b>LossDate :</b>
                                                    </td>
                                                    <td>
                                                        {{adjustorvm.modalclaim.lossDate}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Loss Description : </b>
                                                    </td>
                                                    <td>
                                                        {{adjustorvm.modalclaim.lossDescription}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Reported Date</b>
                                                    </td>
                                                    <td>
                                                        {{adjustorvm.modalclaim.reportedDate}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Vehicle </b>
                                                    </td>
                                                    <td>
                                                        {{adjustorvm.modalclaim.Vehicle}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Cause Of Loss</b>
                                                    </td>
                                                    <td>
                                                        {{adjustorvm.modalclaim.causeOfLoss}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Assigned Adjuster</b>
                                                    </td>
                                                    <td>
                                                        {{adjustorvm.modalclaim.assignedAdjuster}}
                                                    </td>
                                                </tr>


                                                </tbody>
                                            </table>


                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </td>


                        <td>
                            <button class="btn" ng-click=" adjustorvm.claimupdate=claim; adjustorvm.updateClaim();  ">
                                Update
                            </button>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading"><h4>Claims Approved by adjustor </h4>
            </div>
            <div class="panel-body mytable">
                <label>Search: <input ng-model="searchText1"></label>

                <table data-toggle="table " class="table table-striped">
                    <thead>
                    <tr>
                        <th>ClaimID</th>
                        <th>Status</th>
                        <th>Assigned Adjustor</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="claim in adjustorvm.adjustorclaimApproved | filter : searchText1 ">
                        <td>{{claim.claimID}}</td>
                        <td>{{claim.status}}</td>
                        <td>{{claim.assignedAdjuster}}</td>


                        <!-- View is here calls the modal #test  -->
                        <td><a type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#test"
                               ng-click="adjustorvm.modalclaim=claim "> View </a>
                        </td>


                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>


</div>

