<div class="content myoverflow">

    <div class=" jumbotron card">
        <!--this is the header  -->
        <div class="row">
            <div class="col-xs-4">
                <div class=".profile-img-card">
                    <a href="#" class="thumbnail">
                        <img src=" {{agentvm.user.userinfo.imgurl}} "
                             alt="...">
                    </a>
                </div>
            </div>
            <div class="col-xs-6">
                <h3><b>Hello, {{agentvm.user.userName}}</b></h3>

                <table class="table table-user-information">
                    <tbody>
                    <tr>
                        <td><b>Department:</b></td>
                        <td>{{agentvm.user.userinfo.title}}</td>
                    </tr>
                    <tr>
                        <td><b>Join date:</b></td>
                        <td>{{agentvm.user.userinfo.joinDate}}</td>
                    </tr>
                    <tr>
                        <td><b>Date of Birth</b></td>
                        <td>{{agentvm.user.userinfo.dob}}</td>
                    </tr>

                    <tr>
                    <tr>
                        <td><b>Gender</b></td>
                        <td>{{agentvm.user.userinfo.gender}}</td>
                    </tr>
                    <tr>
                        <td><b>Home Address</b></td>
                        <td>{{agentvm.user.userinfo.address}}</td>

                    </tr>
                    <tr>
                        <td><b>Email</b></td>
                        <td><a href="mailto:info@support.com">{{agentvm.user.userEmail}}</a>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Phone Number</b></td>
                        <td>{{agentvm.user.userinfo.phone}}
                            <br>
                        </td>

                    </tr>

                    </tbody>
                </table>


            </div>
        </div>
        <!--this is the Content  -->
        <div>

            <div>

                <div class="panel panel-default">
                    <div class="panel-heading"><h4>Claims Pending</h4>
                    </div>
                    <div class="panel-body mytable">

                        <label>Search: <input ng-model="searchText"></label>

                        <table data-toggle="table " class="table table-striped">
                            <thead>
                            <tr>
                                <th>ClaimID</th>
                                <th>Status</th>
                                <th>Set Status</th>
                                <th>loss Date</th>
                                <th>Reported Date</th>
                                <th>Loss Description</th>
                                <th>Assigned Adjustor</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="claim in agentvm.claimsPending | filter : searchText ">
                                <td>{{claim.claimID}}</td>
                                <td>{{claim.status}}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button"
                                                data-toggle="dropdown">{{claim.status}}
                                            <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a ng-click="claim.status='Pending'">Pending</a></li>
                                            <li><a ng-click="claim.status='Approved'">Approved</a></li>
                                        </ul>
                                    </div>
                                </td>
                                <td>{{claim.lossDate.date }}</td>
                                <td>{{claim.reportedDate.date }}</td>
                                <td>{{claim.lossDescription}}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button"
                                                data-toggle="dropdown">{{  claim.assignedAdjuster }}
                                            <span class="caret"></span></button>
                                        <div class="dropdown-menu">
                                            <ul ng-repeat="usr in agentvm.adjustor" class="list">
                                                <li><a ng-click="claim.assignedAdjuster = usr.userName  ">{{usr.userName}}</a></li>
                                            </ul>
                                        </div>

                                    </div>
                                </td>
                                <td>
                                    <button class="btn" ng-click=" agentvm.claimupdate=claim; agentvm.updateClaim();  ">
                                        Update
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading"><h4>Claims Approved</h4>
                    </div>
                    <div class="panel-body mytable">


                        <table data-toggle="table " class="table table-striped">
                            <thead>
                            <tr>
                                <th>ClaimID</th>
                                <th>Status</th>
                                <th>Assigned Adjustor</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="claim in agentvm.claimsApproved  ">
                                <td>{{claim.claimID}}</td>
                                <td>{{claim.status}}</td>
                                <td>{{claim.assignedAdjuster}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
