

    <div class="content">

        <div class=" jumbotron card">
            <!--this is the header  -->
            <div class="row">
                <div class="col-xs-4">
                    <div class=".profile-img-card">
                        <a href="#" class="thumbnail">
                            <img src="https://lh3.googleusercontent.com/-EF9BoynKc9w/AAAAAAAAAAI/AAAAAAAAAAA/1au5roMkCC4/photo.jpg" alt="...">
                        </a>
                    </div>
                </div>
                <div class="col-xs-6">
                    <h3><b>Hello, {{uservm.user.userName}}</b></h3>

                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td><b>Department:</b></td>
                                <td>{{uservm.user.userinfo.title}}</td>
                            </tr>
                            <tr>
                                <td><b>Join date:</b></td>
                                <td>{{uservm.user.userinfo.joinDate}}</td>
                            </tr>
                            <tr>
                                <td><b>Date of Birth</b></td>
                                <td>{{uservm.user.userinfo.dob}}</td>
                            </tr>

                            <tr>
                                <tr>
                                    <td><b>Gender</b></td>
                                    <td>{{uservm.user.userinfo.gender}}</td>
                                </tr>
                                <tr>
                                    <td><b>Home Address</b></td>
                                    <td>{{uservm.user.userinfo.address}}</td>

                                </tr>
                                <tr>
                                    <td><b>Email</b></td>
                                    <td><a href="mailto:info@support.com">{{uservm.user.userEmail}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Phone Number</b></td>
                                    <td>{{uservm.user.userinfo.phone}}
                                        <br>
                                    </td>

                                </tr>

                        </tbody>
                    </table>


                </div>
            </div>
            <!--this is the Content  -->

            <div class="panel panel-default">
                <div class="panel-heading"><h4>Claims
                      <!-- Modal button create a new Claim -->
                    <button type="button" class="btn btn-info btn-lg pull-right pad" data-toggle="modal" data-target="#myModal">Open Modal</button>


                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Enter the Claim Details</h4>
                                </div>

                                <!--  Modal form goes here   -->
                                <div class="modal-body">

                                    <form  name="addClaim" ng-submit="uservm.addClaim(addClaim)"   >
                                        <fieldset class="form-group">
                                            <label for="formGroupInput"> First Name </label>
                                            <input type="text" class="form-control" id="formGroupInput" placeholder="First Name"  ng-model="uservm.newClaim.firstName">
                                        </fieldset>
                                        <fieldset class="form-group">
                                            <label for="formGroupInput2">Last Name</label>
                                            <input type="text" class="form-control" id="formGroupInput2" placeholder="Last Name"  ng-model="uservm.newClaim.lastName">
                                        </fieldset>
                                        <fieldset class="form-group">
                                            <label for="formGroupInput3">Loss Date</label>
                                            <input type="date" class="form-control" id="formGroupInput3" placeholder="Date"  ng-model="uservm.newClaim.lossDate">
                                        </fieldset>
                                        <fieldset class="form-group">
                                            <label for="formGroupInput4">Cause Of Loss</label>
                                            <input type="text" class="form-control" id="formGroupInput4" placeholder="Cause Of Loss" ng-model="uservm.newClaim.causeOfLoss">
                                        </fieldset>
                                        <fieldset class="form-group">
                                         <label for="formGroupInput5">Loss Description</label>
                                         <input type="text" class="form-control" id="formGroupInput5" placeholder="LossDescription" ng-model="uservm.newClaim.lossDescription" >
                                        </fieldset>
                                        <br/>
                                        <h3> Vehicle Info</h3>

                                        <fieldset class="form-group">
                                            <label for="formGroupInput6">Vehicle VIN</label>
                                            <input type="text" class="form-control" id="formGroupInput6" placeholder="Vehicle VIN" ng-model="uservm.newVehicle.vin"  >
                                        </fieldset>
                                        <fieldset class="form-group">
                                            <label for="formGroupInput7">Model Year</label>
                                            <input type="text" class="form-control" id="formGroupInput7" placeholder="Model Year" ng-model="uservm.newVehicle.modelYear">
                                        </fieldset>

                                        <fieldset class="form-group">
                                            <label for="formGroupInput88">Make Description</label>
                                            <input type="text" class="form-control" id="formGroupInput88" placeholder="Model Description" ng-model="uservm.newVehicle.makeDes">
                                        </fieldset>

                                        <fieldset class="form-group">
                                            <label for="formGroupInput8">Model Description</label>
                                            <input type="text" class="form-control" id="formGroupInput8" placeholder="Model Description" ng-model="uservm.newVehicle.modelDes">
                                        </fieldset>

                                        <fieldset class="form-group">
                                            <label for="formGroupInput9">Engine Description</label>
                                            <input type="text" class="form-control" id="formGroupInput9" placeholder="Engine Description" ng-model="uservm.newVehicle.engineDes">
                                        </fieldset>

                                        <fieldset class="form-group">
                                            <label for="formGroupInput10">Color</label>
                                            <input type="text" class="form-control" id="formGroupInput10" placeholder="Color" ng-model="uservm.newVehicle.color" >
                                        </fieldset>


                                        <fieldset class="form-group">
                                            <label for="formGroupInput11">License Plate</label>
                                            <input type="text" class="form-control" id="formGroupInput11" placeholder="License Plate" ng-model="uservm.newVehicle.licPlate">
                                        </fieldset>
                                        <fieldset class="form-group">
                                            <label for="formGroupInput67">License Plate State</label>
                                            <input type="text" class="form-control" id="formGroupInput67" placeholder="Mileage" ng-model="uservm.newVehicle.licPlateState" >
                                        </fieldset>


                                        <fieldset class="form-group">
                                            <label for="formGroupInput12">License Plate Expiration</label>
                                            <input type="date" class="form-control" id="formGroupInput12" placeholder="License Plate Expiration" ng-model="uservm.newVehicle.licPlateExp">
                                        </fieldset>

                                        <fieldset class="form-group">
                                            <label for="formGroupInput13">Damage description</label>
                                            <input type="text" class="form-control" id="formGroupInput13" placeholder="License Plate Expiration" ng-model="uservm.newVehicle.damageDes" >
                                        </fieldset>

                                        <fieldset class="form-group">
                                            <label for="formGroupInput14">Mileage</label>
                                            <input type="text" class="form-control" id="formGroupInput14" placeholder="Mileage" ng-model="uservm.newVehicle.mileage" >
                                        </fieldset>




                                        <button type="submit" class="btn btn-primary">Add Claim</button>
                                    </form>


                                </div>


                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>




                </h4></div>
                <div class="panel-body">


                    <table data-toggle="table " class ="table table-striped">
                        <thead>
                        <tr>
                            <th>ClaimID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Status</th>
                            <th>loss Date</th>
                            <th>Cause Of Loss</th>
                            <th>Reported Date</th>
                            <th>Loss Description </th>
                            <th>Assigned Adjustor</th>
                            <th> Vehicle Vin</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="claim in uservm.claims | filter: uservm.searchStr ">
                            <td>{{uservm.claim.claimID}}  </td>
                            <td>{{uservm.claim.firstName}}</td>
                            <td>{{uservm.claim.lastName}}</td>
                            <td>{{uservm.claim.status}}</td>
                            <td>{{uservm.claim.lossDate}}</td>
                            <td>{{uservm.claim.causeOfLoss}}</td>
                            <td>{{uservm.claim.reportedDate}}</td>
                            <td>{{uservm.claim.lossDescription}}</td>
                            <td>{{uservm.claim.assignedAdjustor}}</td>
                            <td>{{uservm.claim.Vehicle}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>






        </div>



    </div>

